<h1>Edit Movie <%= @movie.id %></h1>

<form action="/update_movie/<%= @movie.id %>">
  <div>
        <label for="title_input">
        Title
            
        </label>
            <input id="title_input" type="text", name="movie_title", value="<%= m.title %>">
    </div>
    
    <div>
        <label for="year_input">
        Year    
            
        </label>
            <input id="year_input" type="text", name="movie_year", value="<%= m.year %>">
    </div>
    
     <div>
        <label for="duration_input">
        Duration (Minutes)
            
        </label>
            <input id="duration_input" type="text", name="movie_duration", value="<%= m.duration %>">
    </div>
    
    <div>
        <label for="description_input">
        Description
            
        </label>
            <input id="description_input" type="text", name="movie_description", value="<%= m.description %>">
    </div>
    
    <div>
        <label for="movie_image_input">
        Image url
            
        </label>
            <input id="movie_image_input" type="text", name="movie_image" value="<%= m.image_url %>">
    </div>

  <button>
    Update movie
  </button>
  
</form>

