<h1>All Movies</h1>

<a href="/movies/new">
  Add a new movie
</a>

<%= @list_of_movies.each do |movie| %>
  <div class="thumbnail">
    <img src="<%= movie.source %>">

    <div class="title">
      <a href="/directors/<%= movie.id %>" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/directors/<%= movie.id %>/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_director/<%= movie.id %>" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
<% end %>